<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">About</li>
  </ol>
</nav>

<h3><i class="fas fa-info-circle"></i> About</h3>

<p>A website with searchable details of Old Mancunians who died in the First World War, and details of the school's links to the war more generally.</p>
<p>This website is based on a project undertaken by the Manchester Grammar School History and Archives Departments in 2015, which gathered this data into a Google Site. This functioned well, but lacked meaningful search capability, added along proper database structuring (JSON) in this iteration of the site, overseen by the Computer Science Department.</p>

<h3>How it works</h3>
<!-- TODO: Replace Homer with some more meaningful text -->
<p>Tell me, oh Muse, of that ingenious hero who travelled far and wide after he had sacked the famous town of Troy. Many cities did he visit, and many were the nations with whose manners and customs he was acquainted; moreover he suffered much by sea while trying to save his own life and bring his men safely home; but do what he might he could not save his men, for they perished through their own sheer folly in eating the cattle of the Sun-god Hyperion; so the god prevented them from ever reaching home. Tell me, too, about all these things, oh daughter of Jove, from whatsoever source you may know them.</p>

<h3>Development credits</h3>
<p>This website was developed by Theodore Tucker, a student of the Manchester Grammar School, under the guidance of Mr D Millington, the Head of Computer Science. This project is open source, and source code is available at the GitHub repository here: <a href="https://github.com/tti0/mgsandww1">https://github.com/tti0/mgsandww1</a>. By using this site, you understand that it is licensed under the terms of the <a href="LICENSE">MIT License</a>, agree to these terms, and thus understand that NO WARRANTY WHATSOEVER is provided.</p>
<p>The development of this website would not be possible without the following open-source libraries and platforms, all of which are loaded locally:</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name of library</th>
        <th>Website/repository link</th>
        <th>License (linked)</th>
        <th>Version used</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bootstrap</td>
        <td><a class="link" href="https://getbootstrap.com/">https://getbootstrap.com/</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/twbs/bootstrap/v4-dev/LICENSE">MIT</a></td>
        <td>4.1.0</td>
        <td>CSS framework - handles all styling</td>
      </tr>
      <tr>
        <td>FontAwesome (Free version)</td>
        <td><a class="link" href="https://fontawesome.com/">https://fontawesome.com/</a></td>
        <td><a class="link" href="lib/fontawesome-5.3.1/LICENSE.txt">FontAwesome Free License</a></td>
        <td>5.3.1</td>
        <td>In-line SVG and CSS icons</td>
      </tr>
      <tr>
        <td>jQuery</td>
        <td><a class="link" href="http://jquery.com/">http://jquery.com/</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/jquery/jquery/master/LICENSE.txt">MIT</a></td>
        <td>3.3.1</td>
        <td>JavaScript library for simplifying DOM manipulation</td>
      </tr>
      <tr>
        <td>download.js</td>
        <td><a class="link" href="http://danml.com/download.html">http://danml.com/download.html</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/rndme/download/master/LICENSE.md">MIT</a></td>
        <td>4</td>
        <td>JavaScript library to create the download stream for JSON and CSV exports</td>
      </tr>
      <tr>
        <td>DefiantJS</td>
        <td><a class="link" href="http://www.defiantjs.com/">http://www.defiantjs.com/</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/hbi99/defiant.js/master/LICENSE">GNU Afferro GPL 3</a></td>
        <td>2.1.2</td>
        <td>JavaScript library for searching the JSON arrays of OMs and articles, and returning the record the user wants to see - not used for grid searching, however</td>
      </tr>
      <tr>
        <td>Showdown</td>
        <td><a class="link" href="http://showdownjs.com/">http://showdownjs.com/</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/showdownjs/showdown/master/LICENSE">MIT</a></td>
        <td>1.9.0</td>
        <td>JavaScript library for converting the Markdown article files into HTML for injection</td>
      </tr>
      <tr>
        <td>AngularJS</td>
        <td><a class="link" href="https://angularjs.org/">https://angularjs.org/</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/angular/angular.js/master/LICENSE">MIT</a></td>
        <td>1.7.5</td>
        <td>JavaScript framework for single-page (as in one main HTML file) sites (like this one), using the MVW paradigm</td>
      </tr>
      <tr>
        <td>angular-route</td>
        <td><a class="link" href="https://angularjs.org/">https://angularjs.org/</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/angular/angular.js/master/LICENSE">MIT</a></td>
        <td>1.7.5</td>
        <td>A module for AngularJS to handle URL routes (distributed with the AngularJS main package)</td>
      </tr>
      <tr>
        <td>angular-animate</td>
        <td><a class="link" href="https://angularjs.org/">https://angularjs.org/</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/angular/angular.js/master/LICENSE">MIT</a></td>
        <td>1.7.5</td>
        <td>A module for AngularJS to handle in-page animations (distributed with the AngularJS main package)</td>
      </tr>
      <tr>
        <td>angular-sanitize</td>
        <td><a class="link" href="https://angularjs.org/">https://angularjs.org/</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/angular/angular.js/master/LICENSE">MIT</a></td>
        <td>1.7.5</td>
        <td>A module for AngularJS to safely inject HTML into the DOM (distributed with the AngularJS main package)</td>
      </tr>
      <tr>
        <td>angular-loading-bar</td>
        <td><a class="link" href="http://chieffancypants.github.io/angular-loading-bar">http://chieffancypants.github.io/angular-loading-bar</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/chieffancypants/angular-loading-bar/master/LICENSE">MIT</a></td>
        <td>0.9.0</td>
        <td>A (3rd party) module for AngularJS to control the in-page loading bar, based on Angular interceptors</td>
      </tr>
      <tr>
        <td>angular-showdown-directive</td>
        <td><a class="link" href="https://github.com/tti0/angular-showdown-directive">https://github.com/tti0/angular-showdown-directive</a></td>
        <td><a class="link" href="https://raw.githubusercontent.com/tti0/angular-showdown-directive/v0.4.0/LICENSE">MIT</a></td>
        <td>0.4.0</td>
        <td>A (3rd party) directive for AngularJS to load in a Markdown file, convert it with Showdown, and then inject the HTML</td>
      </tr>
      <tr>
        <td>ag-Grid (Community version)</td>
        <td><a class="link" href="https://www.ag-grid.com/">https://www.ag-grid.com/</a></td>
        <td><a class="link" href="https://unpkg.com/ag-grid-community@19.1.4/LICENSE.txt">MIT</a></td>
        <td>19.0.1</td>
        <td>JavaScript library to handle the interactive data query grid</td>
      </tr>
    </thead>
  </table>
</div>

<h3>Copyright and licensing</h3>
<h4>Software</h4>
<p>This work (the software only, not the dataset) is copyright (&copy;) Theodore Tucker (tti0). It is licensed for re-use and modification under the terms of the <a href="LICENSE">MIT License</a>.</p>
<h4>Dataset, images and articles</h4>
<p>The dataset of this site, all images used, and all articles are copyright (&copy;) The Manchester Grammar School. All rights reserved. Please contact the school (details below), for more information about licensing.</p>

<h3>Cookies</h3>
<p>This site does not set any cookies.</p>

<h3>Privacy</h3>
<p>This site does not collect any data about its users.</p>

<h3>Contact</h3>
<p>Please direct all enquiries to the Archives Department of the Manchester Grammar School.<br>
Email: <a href="mailto:archives@mgs.org">archives@mgs.org</a><br>
Telephone: (+44) 0161 224 7201</p>
