<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">About</li>
  </ol>
</nav>

<h3><i class="fas fa-info-circle"></i> About</h3>

<p>A website with searchable details of Old Mancunians who died in the First World War, and details of the school's links to the war more generally.</p>
<p>This website is based on a project undertaken by the Manchester Grammar School History and Archives Departments in 2015, which gathered this data into a Google Site. This functioned well, but lacked meaningful search capability, added along proper database structuring (JSON) in this iteration of the site, overseen by the Computer Science Department.</p>

<h3>How it works</h3>
<p>Tell me, oh Muse, of that ingenious hero who travelled far and wide after he had sacked the famous town of Troy. Many cities did he visit, and many were the nations with whose manners and customs he was acquainted; moreover he suffered much by sea while trying to save his own life and bring his men safely home; but do what he might he could not save his men, for they perished through their own sheer folly in eating the cattle of the Sun-god Hyperion; so the god prevented them from ever reaching home. Tell me, too, about all these things, oh daughter of Jove, from whatsoever source you may know them.</p>

<h3>Development credits</h3>
<p>This website was developed by Theodore Tucker, a student of the Manchester Grammar School, under the guidance of Mr D Millington, the Head of Computer Science. This project is open source, and source code is available at the GitHub repository here: <a href="https://github.com/tti0/mgsandww1">https://github.com/tti0/mgsandww1</a>. By using this site, you understand that it is licensed under the terms of the <a href="LICENSE">MIT License</a>, agree to these terms, and thus understand that NO WARRANTY WHATSOEVER is provided.</p>
<p>The development of this website would not be possible without the following open-source libraries and platforms, all of which are loaded locally:</p>

<h3>Copyright</h3>
<p>This work is copyright (&copy;) Theodore Tucker (tti0), 2018. It is licensed for re-use and modification under the terms of the <a href="LICENSE">MIT License</a>. The copyright of all images used on the site remains with the original photographer, or the Manchester Grammar School, unless otherwise stated.</p>

<h3>Cookies</h3>
<p>This site does not set any cookies.</p>

<h3>Privacy</h3>
<p>This site does not collect any data about its users.</p>

<h3>Contact</h3>
<p>Please direct all enquiries to Mr Daniel Millington, Head of Computer Science at the Manchester Grammar School.<br>
Email: <a href="mailto:d.e.millington@mgs.org">d.e.millington@mgs.org</a><br>
Telephone: (+44) 0161 224 7201 ext. 467</p>
