<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">Data query</li>
  </ol>
</nav>

<h3><i class="fas fa-search"></i> Data query</h3>

<p>You can use this page to search for an Old Manunian who was killed in World War One, using data you know.</p>

<div class="card my-2 ng-scope">
  <div class="card-header">
    <a class="card-link" data-toggle="collapse" data-target="#moreInfo" href="">Click me for more detailed information about the Data query page</a>
  </div>
  <div id="moreInfo" class="collapse">
    <div class="card-body">
      <p>Below is a table listing every record we hold. You may need to use the left-right scroll bar at the bottom of the table to view all of the rows. You can filter the records by:</p>
      <ul>
        <li>Clicking on the 'hamburger' (<i class="fas fa-bars"></i>) icon next to the field you want to filter, for example, "Age at death";</li>
        <li>Entering a value to be filtered, for example, "20";</li>
        <li>The table will only show records whose Age at death was 20.</li>
      </ul>
      <p>By clicking on a row, you will be taken to a page giving full details and images (where avaliable) for the record you clicked on.</p>
      <p>Each record is given a <code>siteIndex</code> number. This is only for the functionality of this website, and is not held anywhere else. You can, however, enter a <code>siteIndex</code> number to quickly access a record you have previously found.</p>
      <p>If you cannot find a record, please check the data you have entered, especially regarding spelling. If you believe that a record is missing, please contact the MGS Archives Department - details are given on the <a class="link" href="#!/about">About</a> page.</p>
    </div>
  </div>
</div>

<div class="alert alert-info alert-dismissible">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <i class="fas fa-question-circle"></i> <strong>Don't understand the data below?</strong> Visit the <a class="alert-link" href="#!/understand">Understand the data</a> page for guidance and further information.
</div>

<div id="queryList" style="height:500px;" class="ag-theme-balham"></div>

<!-- TODO: Grid CSV export -->
<!-- TODO: Custom rank filtering -->
