<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">Data query</li>
  </ol>
</nav>

<h3><i class="fas fa-search"></i> Data query</h3>

<p>You can use this page to search for an Old Manunian who was killed in WW1, using data you know.</p>

<!-- TODO: GIVE MORE INFO HERE -->

<p>Each record is given a <code>siteIndex</code> number. This is only for the functionality of this website, and is not held anywhere else. You can, however, enter a <code>siteIndex</code> number to quickly access a record you have previously found.</p>

<p>If you cannot find a record, please check the data you have entered, especially regarding spelling. If a record is missing, please contact the MGS Archives Department - details are given on the About page.</p>
