<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>

<h1>Welcome to the MGS and WW1 website</h1>

<div class="row">
  <div class="col-sm-8">
    <p>This is a website with searchable details of Old Mancunians who died in the First World War, and details of the school's links to the war more generally.</p>
    <p>To learn more about Manchester Grammar's links to the First World War, visit the In memoriam and Primary sources sections, which contain static resources written by the MGS Archives and History departments.</p>
    <p>To discover an Old Mancunian who fought in the war, please visit the Data query page, and enter data you already know to find an Old Mancunian.</p>
    <p>To find out about this website, who made it, and how it was made, please visit the About page.</p>
  </div>
  <div class="col-sm-4">
    <img src="lib/bookofrem_index_676x1014px.jpg" alt="The Book of Remebrance" class="img-fluid mr-3 rounded">
  </div>
</div>
