<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>

<h1>Welcome to the MGS and WW1 website</h1>

<p>This is a website with searchable details of Old Mancunians who died in the First World War, and details of the school's links to the war more generally.</p>
<p>To learn more about Manchester Grammar's links to the First World War, visit the <em>In memoriam</em> and <em>Primary sources</em>, sections, which contain static resources written by the MGS Archives and History Department.</p>
<p>To find an Old Mancunian who faught in the war, please visit the <em>Data query</em> page, and enter data you already know to find an Old Mancunian.</p>
<p>To find out about this website, who made it, and how it was made, please visit the <em>About</em> page.</p>
