<div class="alert alert-warning" role="alert" ng-if="!hit"> <!-- show this if we don't have a matching record -->
  No article with identifier <strong>{{ indexToCheck }}</strong> found.
</div>

<span ng-if="hit"> <!-- show this if we do get a matching record -->
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#!">Home</a></li>
      <li class="breadcrumb-item"><a href="#!/articles">Articles</a></li>
      <li class="breadcrumb-item active">{{ ourData.category }}</li>
      <li class="breadcrumb-item active">{{ ourData.title }}</li>
    </ol>
  </nav>

  <h3><i class="fas fa-book-reader"></i> Article:&nbsp;{{ ourData.title }}</h3>
  <p class="lead">{{ ourData.subtitle }}</p>
  <hr>
  <div showdown ng-include="ourData.source"></div>
  <p>End of article.</p>
</span>
